# files
robots.txt
*.flv
*.pdf
*.jpg
*.JPG
*.tgz
*.sql
*.tar
*.gz
*.tar.gz
*.mp4
*.7z
*.rar
*.zip
*.log
*.sql
*.sqlite
*.swf
yandex*.html
yandex*.txt
google*.html
cmsmagazine*.txt
# folders
/upload
/images
/flash
/video
/presentation/gallery/x5/*.m4v
/presentation/gallery/x5/*.mov
/presentation/gallery/x5/*.wmv
/_common/shared/newvehicles/3series/sedan/2011/showroom/design/*.xml
/presentation/gallery/6series_gran_coupe/highlights_design/*.xml
/presentation/gallery/6series_gran_coupe/highlights_dynamics/*.xml
/presentation/gallery/1series_5doors/xml/*.xml
/presentation/gallery/1series_5doors/driving_dynamics_highlight/xml/*.xml
/_common/shared/newvehicles/3series/sedan/2011/showroom/dynamics/twinpower_turbo_highlight/xml/*.xml
/presentation/gallery/3series_coupe/*.wmv
/presentation/gallery/3series_convertibl/*.wmv

# bitrix kernel files
/bitrix/activity_limit.php
/bitrix/click.php
/bitrix/coupon_activation.php
/bitrix/footer.php
/bitrix/header.php
/bitrix/index.php
/bitrix/license_key.php
/bitrix/p3p.xml
/bitrix/redirect.php
/bitrix/rk.php
/bitrix/rss.php
/bitrix/*.log
/bitrix/spread.php
/bitrix/urlrewrite.php
/bitrix/virtual_file_system.php
/bitrix/web.config
/bitrix/.access.php
/bitrix/php_interface/after_connect.php
/bitrix/php_interface/dbconn.php

# bitrix kernel folders
/bitrix/admin
/bitrix/backup
/bitrix/cache
/bitrix/config
/bitrix/crontab
/bitrix/gadgets
/bitrix/help
/bitrix/image_uploader
/bitrix/js
/bitrix/managed_cache
/bitrix/modules
/bitrix/otp
/bitrix/panel
/bitrix/parsers
/bitrix/public
/bitrix/activities
/bitrix/wizards
/bitrix/themes
/bitrix/tmp
/bitrix/tools
/bitrix/updates
/bitrix/soap
/bitrix/sounds
/bitrix/stack_cache
/bitrix/template
/bitrix/components/bitrix
/bitrix/images

# outlet
/bitrix/components/adv/auto.offers.counter
/bitrix/components/adv/adv_user_promo.offers
/include/print_promo.php
/include/terms.php