/* Left menu*/
ul.left-menu
{
	list-style:none;
	margin:0; padding:0;
	margin-bottom:8px;
	position: relative; /*IE bug*/
}

ul.left-menu li
{
	padding: 10px 16px;
	background:#F5F5F5 url(images/left_menu_bg.gif) top repeat-x;
}

ul.left-menu li a
{
	font-size:100%;
	color:#BC262C;
	font-weight:bold;
	text-decoration:none;
}

ul.left-menu li a:visited
{
	color:#BC262C;
}

ul.left-menu li a:hover
{
	color:#BC262C;
}


ul.left-menu li a.selected:link,
ul.left-menu li a.selected:visited,
ul.left-menu li a.selected:active,
ul.left-menu li a.selected:hover
{
	color:#FC8D3D;
}


#contentText {
	width:730px;
	padding:0px;
	left:0px;
}

#naviClipArea {
	padding-top:0px;
}

#buttonClose2 {
	display:none;
	background-color:#fff;
	border:1px solid #999;
	border-left:0px;
	height:15px;
	padding-top:5px;
        opacity: 0.9;
        filter: (opacity=90);
	top:-5px;
	z-index:95;
}

#buttonClose2 a.droplink {background: url('/images/dropper_down.gif') left top no-repeat; display: block; width: 220px; height: 15px;}
#buttonClose2 a.droplink:hover {background: url('/images/dropper_down.gif') left bottom no-repeat; display: block; width: 220px; height: 15px;}

#navigation li .selected{
	color:#364e8c;
	cursor:default;
}

#navigation ul .subitem{
	display:none;
	padding-bottom:4px;
	padding-left:8px;
	padding-top:12px;
}