#profileContainer {position:absolute; top:0px;   left:0px;   width:1003px; overflow:hidden;}
#bgImage          {position:absolute; top:106px; left:667px; width:336px;  height:443px;}
#contentContainer {position:absolute; top:0px;   left:0px;   width:100%;}