#mainImage            {position:relative; top: 60px; left:  0px; width: 100%; overflow:hidden; display:block;}
#teaserContainer      {position:absolute; top: 139px; left:741px;}
#completeText         {position:relative; top: 73px; left:287px; width:514px; height:auto;}
#contentText          {position:relative; top:  0px; left: 29px; width:369px;}