#completeText         {position:absolute; top:104px; left:289px; width:514px; height:auto;}
#contentText          {position:relative; top:  0px; left: 29px; width:369px;             }
#downloadList         {position:relative; top:  0px; left: 29px; width:369px;             }
#teaserContainer      {position:absolute; top: 99px; left:741px;}